	
* {
  box-sizing: border-box;
}
 
.ProductListPage {
  max-width: 1024px;
  padding: 40px;
  display: flex;
  width: 300px;
  height: 400px;
  flex-direction: row;
}
 
.ProductListPage > div {
  margin-right: 15px;
}
 
.ProductListPage img {
  width: 300px;
  height: 300px;
}
 
.ProductDetailPage {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
 
.ProductDetailPage img {
  width: 400px;
  height: 400px;
  margin-right: 30px;
}
 
.ProductDetailPage .content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

