@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: 'GmarketSansMedium';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  flex-direction: column;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.Box {
  min-width: 400px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  margin: 8px;
}

input {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 5px;
  height: 36px;
  min-width: 400px;
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.completed {
  text-decoration: line-through;
}